*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.second-page-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-boxes, .calc-box{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    align-items: center;
    
}
.box {
    width: 18%;
    height: 20vh;
    text-align: center;
    border-radius: 10%;
}
.one {
    background-color: rgba(215, 119, 119, 0.7);
}
.two {
    background-image: linear-gradient(red , tomato);
}
.three {
    background-color: green;
}
.first-page {
    padding: 20px;
    margin: 20px;
    height: 90vh;
}
h1{
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}
form {
    width: 60%;
  height: 45vh;
    box-shadow: 10px 10px gray;
    margin: 20vh 20% 20px 20%;
    border-radius: 10px;
}
label,input  {
    display: block;
    width: 95%;
    height: 50px;
    margin: 10px 50px 10px 5px;
    padding: 10px 10px 5px 0px;
}
/* input {
    margin-right: 50px;
}
.login {
    margin-right: 10px;
} */
 .login-container {
    margin-left: 10px;
} 
 #login-btn {
    margin: 10px 0px 0px 5px;
    height: 30px;
    width: 40px;
    background-color: rgb(216, 207, 196 ,0.8);
    border: none;
}
#login-btn:hover {
    transition: 50ms;
background-color: rgb(139, 122, 122 ,0.9);
}
.second-page {
    display: none;
} 
/* /* .container2 {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center; */

.calcbox {
    width: 35%;
    height:30vh;
    box-shadow: 5px 10px gray;
    background-color: rgb(229, 240, 240);
    border-radius: 10px;
}
h3 ,h4 {
    margin: 20px;
    text-align: center;
}
.submit-btn {
    margin: 10px 0px 0px 5px;
    height: 30px;
    width: 70px;
}